@use "sass:math";

@import "../../styles/base";

// Deprecated
.image-with-text-overlay {
  .adapt-to-image.responsive-height {
    @include media-breakpoint-up(md) {
      height: calc(var(--image-height) * 2 / 3);
    }

    @include media-breakpoint-up(xl) {
      height: calc(var(--image-height) * 3 / 4);
    }

    @include media-breakpoint-up(xxl) {
      height: var(--image-height);
    }
  }
}

// $height-increment 为 80px
.subscribe-banner {
  $large-height: $height-increment * 8; // 640px
  $medium-height: $height-increment * 7; // 560px
  $small-height: $height-increment * 6; // 480px

  .logo {
    width: auto;
    height: 30px;
  }

  .heading {
    font-size: var(--heading-font-size);
  }

  .heading-extra-large {
    --heading-font-size: var(--#{$prefix}fs-2);
  }

  .heading-large {
    --heading-font-size: var(--#{$prefix}fs-3);
  }

  .heading-medium {
    --heading-font-size: var(--#{$prefix}fs-4);
  }

  .subline,
  .description {
    // 加粗且放大字号
    .enlarge {
      font-size: var(--#{$prefix}fs-4);
    }

    .colored-text {
      @include render-text-color("brand-primary");
    }

    .richtext-link {
      @include link-theme("primary");

      text-decoration: underline;

      .colored-text {
        color: inherit;
      }
    }
  }

  // ===== 屏幕响应过程中，图片裁剪开始 =====
  .fixed-height-large {
    --image-height: #{$large-height};
    --image-tablet-height: #{$large-height};
    --image-mob-height: #{$large-height};
  }

  .fixed-height-medium {
    --image-height: #{$medium-height};
    --image-tablet-height: #{$medium-height};
    --image-mob-height: #{$medium-height};
  }

  .fixed-height-small {
    --image-height: #{$small-height};
    --image-tablet-height: #{$small-height};
    --image-mob-height: #{$small-height};
  }

  .img-container {
    max-width: calc(var(--desktop-img-aspect-ratio) * var(--image-height));
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      max-width: calc(var(--tablet-img-aspect-ratio, var(--desktop-img-aspect-ratio)) * var(--image-tablet-height, var(--image-height)));
    }

    @include media-breakpoint-down(md) {
      max-width: calc(var(--mobile-img-aspect-ratio) * var(--image-mob-height));
    }
  }

  .content-min-height {
    min-height: var(--image-height);

    @include media-breakpoint-down(lg) {
      min-height: var(--image-tablet-height, var(--image-height));
    }

    @include media-breakpoint-down(md) {
      min-height: var(--image-mob-height);
    }
  }
  // ===== 屏幕响应过程中，图片裁剪结束 =====

  // ===== 屏幕响应过程中，图片等比例缩放开始 =====
  .proportional-scaling {
    // 桌面端为模块高度设置一个最小值，为图片高度的 2/3
    @include media-breakpoint-up(md) {
      $min-height-dividend: math.div(1920 * 2, 3);

      min-height: calc(#{$min-height-dividend}px / var(--desktop-img-aspect-ratio));
    }

    &::before {
      --#{$prefix}aspect-ratio: var(--desktop-img-aspect-ratio-percentage);

      @include media-breakpoint-down(lg) {
        --#{$prefix}aspect-ratio: var(--tablet-img-aspect-ratio-percentage, var(--desktop-img-aspect-ratio-percentage));
      }

      @include media-breakpoint-down(md) {
        --#{$prefix}aspect-ratio: var(--mobile-img-aspect-ratio-percentage);
      }

      content: "";
      display: block;
      width: 1px;
      margin-left: -1px;
      padding-bottom: var(--#{$prefix}aspect-ratio);
    }
  }
  // ===== 屏幕响应过程中，图片等比例缩放结束 =====
  // customize

  .as-anim.py-0 {
    padding-top: var(--se-spacer-0) !important;
    padding-bottom: var(--se-spacer-0) !important;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }

  .form-group {
    border-bottom: 2px solid rgba(var(--se-surface-rgb), 1);

    .form-control {
      height: calc(1.125rem + 2.375rem + 4px);
      padding: 1.1875rem 0;
      color: #525252;
      background: transparent;
      border: 0;

      &:focus {
        box-shadow: none;
        color: rgba(var(--se-surface-rgb), 1);
      }
    }

    // 修改input自动填充颜色
    input:-internal-autofill-previewed,
    input:-internal-autofill-selected {
      -webkit-text-fill-color: rgba(var(--se-surface-rgb), 1) !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
  }
}
