/*
	** 此示例参考 HTML5 Drag & Drop 实现 **
*/
body{
  background: #303030;
}
h1 {
  color: #CA7218;
  text-align: center;
}

/* 拼图容器 */
#puzzleContainer {
	margin: 20px auto;
	width: 450px;
	background: rgba(20,20,20,0.8);
	box-shadow: 0px 0px 10px  2px #777;
	color: #ccc;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}


/* 拼图 */
#containerPieces{
	background: #e7931a;
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 10px;
	box-shadow: 0px 0px 10px  2px #d0eb6a;
}

#puzzle {
	background: #d0eb6a;
	width: 200px;
	height: 200px;
	float: right;
	margin-right: 10px;
	box-shadow: 0px 0px 10px  2px #e7931a;
}
.containerPiece {
	width: 100px;
	height: 100px;
	float: left;
}

#puzzleContainer img {
	float: left;
	padding: 1px;
	width: 98px;
	height: 98px;
}